input{
    background-color: whitesmoke;
    border-radius: 50px;
    font-size: 1em;
  }
  
  /* imagen principal */

  .ImgPrincipal{
    width: 69%;
    height: 46rem;
    position:relative;
    margin-top: -1rem;
    z-index: 0;
  }
  
  .buttonImg{
    width: 40%;
    background-color: var(--main_color);
    color: white;
    display: flex;
    position:absolute;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.5rem;
    margin-top: -6em;
    margin-left: 4rem;
    border: none;
  }
  
  @media only screen and (max-width: 768px ) {
    .ImgPrincipal{
      width: 0%;
    }
    .buttonImg{
      width: 0;
      color: white;
      padding: 0px;
      font-size: 0rem;
      border: none;
      height: 0;
    }
  }
  
  @media only screen and (max-width: 600px ) {
    .ImgPrincipal{
      width: 0%;
      height: 39rem;
      position:relative;
      margin-top: -1rem;
    }
    .buttonImg{
      width: 0;
      background-color: var(--main_color);
      color: white;
      border-radius: 10px;
      padding: 0px;
      font-size: 1.5rem;
      margin-top: -7rem;
      margin-left: 4rem;
      border: none;
    }
  }
  
  .form-check{
    margin-top: 2rem;
  }
  
  .form-check-label{
    font-size: 1em;
  }
  @media only screen and (max-width: 768px ) {
    .form-check{
      margin-top: 2rem;
      margin-left: 7rem;
    }
    .form-check-label{
      font-size: 29px;
    }
  }
  
  @media only screen and (max-width: 600px ) {
    .form-check{
      margin-top: 2rem;
      margin-left: 4rem;
    }
    .form-check-label{
      font-size: 19px;
    }
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-control{
    font-weight: 400;
    font-size: .9em;
    margin-left: -10px;
    width: 20em;
    outline: none;
  }

  .form-control:focus{
    border-color: none;
    box-shadow: none;
  }
  
  .input_form{
    width: 20rem;
    height: auto;
    display: flex;
    margin-bottom: .5em;
  }
  
  @media only screen and (max-width: 768px ) {
    .input_form{
      width: 30rem;
      height: 3.5rem;
      display: flex;
      margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 600px ) {
    .input_form{
      width: 20rem;
      height: 3rem;
      display: flex;
      margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 400px ) {
    .input_form{
      width: 19rem;
      height: 3rem;
      display: flex;
      margin-bottom: 1rem;
    }
  }
  
  .icon-peq{
    background-color: var(--main_color);
    width: 2rem;
    height: 2rem;
    border-radius: 80px;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-left: 0rem;
  }
  @media only screen and (max-width: 768px ) {
    .icon-peq{
      background-color: var(--main_color);
      height: 3rem;
      width: 3rem;
      border-radius: 50px;
      margin-right: 1rem;
      margin-top: 0rem;
    }
  }
  @media only screen and (max-width: 400px ) {
    .icon-peq{
      background-color: var(--main_color);
      height: 3rem;
      width: 3rem;
      border-radius: 50px;
      margin-right: 1rem;
      margin-top: 0rem;
      margin-left: -1rem;
    }
  }
  
  .recordar-password{
    margin-top: 1.5rem;
    margin-bottom: -1rem;
  }

  .recordar-password a{
    text-transform: none;
    color: var(--main_color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .material-icons{
    margin-left: -1.2em;
    cursor: pointer;
    color: var(--main_color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .msj-rec-password{
    font-size: 1rem !important;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 3rem;
  }
  
  @media only screen and (max-width: 600px ) {
    .msj-rec-password{
      font-size: 1rem;
      margin-top: -2rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-right: -1rem;
    }
  }
  
  @media only screen and (max-width: 400px ) {
    .msj-rec-password{
      font-size: 1rem;
      margin-top: -2rem;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: -1rem;
    }
  }
  
  .form-text_1{
    color: red;
    margin-top: -.5rem;
    margin-bottom: -1rem;
    font-size: 13px;
  }
  
  .form-text_2{
    font-size: 13px;
    color: red;
    margin-top: 1.2rem;
  }
  
  @media only screen and (max-width: 768px ) {
    .form-text_1{
      color: red;
      margin-left:8.5rem;
      margin-top: -.5rem;
      margin-bottom: -1rem;
    }
    .form-text_2{
      color: red;
      margin-bottom: -1rem;
      margin-top: 1.2rem;
      margin-left: 12rem;
    }
  }
  
  
  @media only screen and (max-width: 600px ) {
    .form-text_1{
      color: red;
      margin-left:4.2rem;
      margin-top: -.5rem;
      margin-bottom: -1rem;
    }
    .form-text_2{
      color: red;
      margin-bottom: -1rem;
      margin-top: 1.2rem;
      margin-left: 7rem;
    }
  }
  
  @media screen and (min-width:305px) and (max-width:400px){
    button{
      height: 1.3em;
      font-size: 1.8em;
    }
  }

  .recovery_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



.button-color{
    border-radius: 15px;
    height: 2.5em;
    padding: 0.3em 1.4em;
    width: 10em;
    font-weight: 600;
    color: #fff;
    font-size: 1.1em;
    background-color: var(--main_color);
}


.btn-ing{
  margin-top: 1em;
}

.button-transparent{
  background-color: transparent;
  border-radius: 15px;
  padding: .4em 1.4em;
  color: var(--main_color);
  font-weight: 600;
  width: 10em;
  font-size: 1.1em;
}

.btn-out{
  margin-top: 1em;
}

.ctn-acept{
  display: flex;
  justify-content: center;
  padding: .5em;
  padding-bottom: 1em;
}