<nav>
  <ul class="log_search-ctn">
    <li><a class="first_link"routerLink="/sign-in">Iniciar Sesion</a></li>
    <mat-icon fontIcon="search"></mat-icon>
    <input class="search_input" type="search" placeholder="Escribe lo que estas buscando">
    <p class="cpny_name">Nuestra EPS</p>
    <a routerLink="/home"><img src="assets/Img/Logo_EPS.jpeg" alt="Logo Colcal" class="logo_home"></a>
  </ul>
  <ul class="sec_links-ctn">
    <li><a class="second_link" routerLink="/home">Inicio</a></li>
    <li><a class="second_link" routerLink="/">Afiliados</a></li>
    <li><a class="second_link" routerLink="/">Empleadores</a></li>
    <li><a class="second_link" routerLink="/">Independientes</a></li>
    <li><a class="second_link" routerLink="/">Asesores comerciales</a></li>
    <li><a class="second_link" routerLink="/">Prestadores servicios</a></li>
    <li><a class="second_link" routerLink="/">PAC</a></li>
  </ul>
</nav> 

<div class="hero_ctn">
  <h1>Conoce los copagos y las cuotas moderadoras para el 2023 </h1>
  <button>Ingresa aqui</button>
</div>


<!--- Primer Container ---->
<div class="first-cnt">
  <div class="sub-cnt">
    <h1 class="first-cnt_title">Infórmate sobre el COVID-19</h1>
    <div class="card">
      <img src="../../../assets/Img/Vaccination.jpeg" alt="Vacunación">
      <h2>Vacunación</h2>
      <p>Conoce las novedades diarias sobre la vacunación contra el COVID-19.</p>
      <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
    </div>
    <div class="card">
      <img src="../../../assets/Img/Symptom.jpeg" alt="Sintomologia">
      <h2>¿Qué hacer si tienes sintomas de COVID-19?</h2>
      <p>Queremos acompañarte con herramientas que te permitan autogestionarte, aún sin contar con una prueba diagnóstica.</p>
      <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
    </div>
    <div class="card">
      <img src="../../../assets/Img/Information.jpeg" alt="Informacion">
      <h2>Información general</h2>
      <p>Resuelve tus inquietudes sobre el COVID-19. Encuentra contenidos relevantes para ti, tu familia y tu salud mental.</p>
      <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
    </div>
  </div>
</div>

<!--- Segundo Container ---->

<div class="second-cnt"> 
  <div class="sub-cnt_two">
    <div class="title-ctn">
      <h1>Servicios a un clic.</h1> 
      <p>Realiza fácilmente tus procesos con NUESTRA EPS. ¡Conoce aquí las soluciones virtuales que tenemos especialmente para ti!</p>  
      <button>VER TODOS</button>
    </div>

    <div class="sec-card">
      <h2>Citas médicas</h2>
      <img src="../../../assets/Img/Medical_appoiment.png" alt="Cita Medica" class="sec-card_img">
      <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
    </div>
    <div class="sec-card">
      <h2>Solicitud de medicamentos</h2>
      <img src="../../../assets/Img/Tracking.png" alt="Segumiento" class="sec-card_img">
      <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
    </div>
    <div class="sec-card">
      <h2>Cambios de IPS</h2>
      <img src="../../../assets/Img/Change_EPS.png" alt="Cambio empresa" class="sec-card_img">
      <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
    </div>
  </div>
</div>


<!--- Tercer Conatiner ---->

<div class="third-cnt">
  <h1 class="third-cnt_title">Todo sobre afiliaciones.</h1>
  <div class="sub-cnt_three">
    <div >
      <div class="th-card_grid">
        <h3>Quiero afiliarme</h3>
        <div class="th-sec-card">
          <img src="../../../assets/Img/Benefits.jpeg" alt="">
          <h2>Plan de Beneficios</h2>
          <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
        </div>
        <div class="th-sec-card">
          <img src="../../../assets/Img/Complementary.jpeg" alt="">
          <h2>Plan Complementario</h2>
          <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
        </div>
        <div class="th-sec-card">
          <img src="../../../assets/Img/Subsidiary.jpeg" alt="">
          <h2>Régimen subsidiado</h2>
          <a href="" class="card-link">Ir <mat-icon fontIcon="east"></mat-icon> </a>
        </div>
        <a href=""><mat-icon fontIcon="pan_tool_alt"></mat-icon>Solicitar turno virtual</a>
      </div>
    </div>

    <div class="th-card">
      <div class="trasnfer-cnt">
        <h3>Si te trasladaron a NUESTRA EPS </h3>
        <button>Ingresa aqui <mat-icon fontIcon="east"></mat-icon></button>
      </div>
    </div>
  </div>
</div>


<!--- Cuarto Container ---->
<div class="fth-cnt">
  <div class="sub-fth_cnt">
    <h2>¿Ya conoces nuestro Plan Complementario?</h2>
    <p>Complementa tu Plan de Beneficios en Salud.</p>
    <button>Conoce más</button>
  </div>
</div>

<!--- Quinto Container ---->

<div class="fifth-cnt third-cnt">
  <h1 class="third-cnt_title">Contenidos para tu bienestar</h1>
  <div class="fif-sub-cnt">
    <div class="fif-card">
      <img src="../../../assets/Img/Running.webp" alt="Pareja corriendo">
      <p class="fif-card-link"><mat-icon fontIcon="calendar_month"></mat-icon> 9 de agosto de 2022</p>
      <h4> Hábitos clave que ayudan a dejar el cigarrillo</h4>
      <p> Dejar de fumar es un proceso complejo que requiere ayuda de expertos y fuerza de voluntad. Te contamos por qué es difícil, cuáles son los beneficios de hacerlo y algunos hábitos clave.</p>
      <a class="fif-card-link">Leer<mat-icon fontIcon="east"></mat-icon> </a>
    </div>

    <div class="fif-card">
      <img src="../../../assets/Img/Listening.jpeg" alt="Persona audifonos">
      <p class="fif-card-link"><mat-icon fontIcon="calendar_month"></mat-icon>7 de septiembre de 2022</p>
      <h4>Pódcast: Especial duelo</h4>
      <p>En este especial hablaremos de cómo enfrentar una pérdida o posible pérdida.</p>
      <a class="fif-card-link">Escucha<mat-icon fontIcon="east"></mat-icon> </a>
    </div>

    <div class="fif-card">
      <img src="../../../assets/Img/Looking.jpeg" alt="">
      <p class="fif-card-link"><mat-icon fontIcon="calendar_month"></mat-icon>4 Noviembre 2021</p>
      <h4>Pide tus medicamentos a domicilio</h4>
      <p>Aprende aquí a pedir tus medicamentos a domicilio desde www.epssura.com.</p>
      <a class="fif-card-link">Mira<mat-icon fontIcon="east"></mat-icon> </a>
    </div>
  </div>
  <div style="display: flex; justify-content:center; margin-top:2em"> 
    <button class="fif-sub-cnt-button">Ir a blog</button>
  </div>
  
</div>

<!--- Sexto container ---->

<div class="six-cnt">
  <h1 class="third-cnt_title">Visita tambien</h1>
  <div class="six-sub-cnt">
    <div class="six-card">
      <img src="../../../assets/Img/life_ensure.png" alt="">
      <h2>SEGUROS NUESTRA EPS</h2>
      <p>Aseguradora de gestión de tendencias y riesgos</p>
      <button>Visitar</button>
    </div>
    <div class="six-card">
      <img src="../../../assets/Img/Vaccine.png" alt="">
      <h2>AYUDAS DIAGNÓSTICAS</h2>
      <p>Laboratorio clínico e imágenes diagnósticas</p>
      <button>Visitar</button>
    </div>
    <div class="six-card">
      <img src="../../../assets/Img/ARL.png" alt="">
      <h2>NUESTRO ARL</h2>
      <p>Administradora de riesgos laborales y demas</p>
      <button>Visitar</button>
    </div>
  </div>
  <footer>Derechos reservados Diseño y programacion: Nicolas Valbuena&reg;</footer>
</div>