<nav>
  <ul class="log_search-ctn">
    <li><a class="first_link"routerLink="/sign-in">Iniciar Sesion</a></li>
    <mat-icon fontIcon="search"></mat-icon>
    <input class="search_input" type="search" placeholder="Escribe lo que estas buscando">
    <p class="cpny_name">Nuestra EPS</p>
    <a routerLink="/home"><img src="assets/Img/Logo_EPS.jpeg" alt="Logo Colcal" class="logo_home"></a>
  </ul>
  <ul class="sec_links-ctn">
    <li><a class="second_link" routerLink="/home">Inicio</a></li>
    <li><a class="second_link" routerLink="/">Afiliados</a></li>
    <li><a class="second_link" routerLink="/">Empleadores</a></li>
    <li><a class="second_link" routerLink="/">Independientes</a></li>
    <li><a class="second_link" routerLink="/">Asesores comerciales</a></li>
    <li><a class="second_link" routerLink="/">Prestadores servicios</a></li>
    <li><a class="second_link" routerLink="/">PAC</a></li>
  </ul>
</nav> 

<div class="hero_ctn">
  <h1>Conoce los copagos y las cuotas moderadoras para el 2023 </h1>
  <button>Ingresa aqui</button>
</div>